$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "https://fonts.googleapis.com/css?family=Francois+One|Raleway";

/*Color Palette*/
$wh: #FFFFFF;
$rd: #C40018;
$gr: #ACACAC;
$ow: #FCFCFC;
$fb-lg: #465199;
$fd-lg: #D58F1A;
$tw-lg: #6689C9;
$yt-lg: #C21F17;

/*Mixins*/
@mixin revert-link{
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  color: #FFFFFF;
}

@mixin revert-list{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@mixin format-box{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

@mixin format-name{
  color: $wh;
  font-family: 'Francois One', sans-serif;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  position: relative;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

/*General Layout*/
body{
  background-image: url('../images/bg.jpg');
  background-position: center center;
  background-size: cover;
}

body{
  box-sizing: border-box;
}

/*Heading*/
.social-nav {
  float: right;
  @media (max-width: 700px) {
    position: relative;
    right: 200px;
  }
}

.subscribe {
  @include revert-link;
  position: relative;
  bottom: 14px;
  color: $wh;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.social-media-icons {
  @include revert-list;
  display: inline-block;
  position: relative;
  left: 81px;
}

.fa-facebook-official, .fa-rss-square, .fa-twitter-square, .fa-youtube-square {
  height: 60px;
}

.fa-facebook-official{
  color: $fb-lg;
}

.fa-rss-square{
  color: $fd-lg;
}

.fa-twitter-square{
  color: $tw-lg;
}

.fa-youtube-square{
  color: $yt-lg;
}

.main-nav-l1, .main-nav-l2, .main-nav-l3, .main-nav-l4{
  @include revert-link;
  @include format-box;
  text-align: center;
  background-color: $rd;
  display: block;
  height: 30px;
  padding-top: 3px;
  margin-bottom: 16px;
  font-size: 17px;
  text-shadow: 2px 0px 2px rgba(0, 0, 0, 0.5)
}

.heading-carousel{
  background-image: url('../images/top-image.png');
  background-position: 40% 25%;
  background-size: auto;
  height: 337px;
  width: auto;
  border: 8px solid white;
  margin-bottom: 25px;
}

.peralta-logo-container{
  height: 337px;
  text-align: center;
}

.peralta-logo{
  float: left;
  display: inline-block;
  padding-top: 10%;
}

.weird-grid-thing{
  position: absolute;
  opacity: 0.25;
  height: 330px;
  width: 96%;
}

.article-1, .article-2, .article-3{
  @include format-box;
  background-color: white;
  height: 350px;
  font-family: 'Raleway', sans-serif;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 25px;
  overflow: hidden;
}

@media (max-width: 750px){
  .article-1, .article-2, .article-3{
    height: 225px;
  }
}

.article-1-title, .article-2-title, .article-3-title{
  margin-bottom: 5px;
}

.article-1-date, .article-2-date, .article-3-date{
  color: $gr;
  margin-bottom: 5px;
}

.read-more-box{
  text-align: center;
}

.read-more{
  @include revert-link;
  color: $rd;
  font-weight: bolder;
}

aside{
  @include format-box;
  background-color: $rd;
  color: $wh;
  font-family: 'Francois One', sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  position: relative;
  padding: 12px;
  margin-top: -9px;
  margin-bottom: 15px;
}

.boarder-dudes {
  margin-left: 0px;
}

.top-left-boarder{
  // width: 50%;
  height: 222px;
  // padding: 0;
  // border: 4px solid white;

}

.boarder-lm{
  display: inline-block;
  width: 100%;
  height: 100%;
  // border: 4px solid white;
}

.boarder-lm-name{
  @include format-name;
  left: 63px;
  bottom: 182px;
  font-size: 55px;
}

@media (max-width: 800px) {
  .top-left-boarder {
    width: 98%;
  }
}

//other three boarders won't respond to queries
@media (max-width: 808px) {
  .top-middle-boarder {
    height: 1000px;
  }
}

.top-middle-boarder{
  // width: 103%;
  height: 222px;
  // border: 4px solid white;
}

.boarder-rm{
  display: inline-block;
  width: 100%;
  height: 100%;
}

.boarder-rm-name{
  @include format-name;
  font-size: 55px;
  left: 90px;
  bottom: 183px;
}

.bottom-left-boarder{
  // width: 765px;
  height: 222px;

  // margin: -15px;
}

.boarder-sc{
  // border: 4px solid white;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.boarder-sc-name{
  @include format-name;
  font-size: 55px;
  left: 180px;
  bottom: 155px;
}

.right-boarder{
  height: 469px;
  // width: 360px;
  // position: relative;

  margin-bottom: 15px;
  // margin-left: -5px;
}

.boarder-tg{
  display: inline-block;
  height: 100%;
  width: 100%;
}

.boarder-tg-name{
  @include format-name;
  font-size: 55px;
  bottom: 304px;
  left: 55px;
}

.boarder-img {
  border: 4px solid white;
}

.boarder-container {
  margin-bottom: 25px;
  margin-left: -15px;
}

.board-showcase{
  @include format-box;
  background-color: $wh;
  margin-bottom: 25px;
  margin-top: 10px;
}

.board-showcase-2{
  @include format-box;
  background-color: $ow;
  margin-bottom: 25px;
  position: relative;
}

@media(min-width: 751px){
  .board-showcase-2{
    display: none;
  }
}

@media (max-width: 750px){
  .board-showcase{
    display: none;
  }
  .board-showcase-2{
    display: block;
  }
}

.board-1{
  margin-left: 40px;
}

.board-2, .board-3, .board-4, .board-5, .board-6, .board-7, .board-8, .board-9{
  margin-left: 44px;
//@media xs
//transform: rotate(0.5turn)
}

.board-10{
  margin-left: 40px;
}

.entire-form{
  @include format-box;
  overflow: auto;
  background-color: $ow;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 25px;
  margin-bottom: 15px;
  // position: relative;
  // bottom: 195px;
}

.contact-info{
  line-height: 2.0;
}

.social-nav-form{
  margin-top: 15px;
}

.name-input, .email-input, .message-input{
  display: block;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.25);
  border: none;
}

.message-input{
  padding-bottom: 50px;
}

.form-submit{
  display: block;
  float: right;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  margin-top: 22px;
  margin-right: 15px;
  background-color: $rd;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 115px;
  padding-right: 115px;
  color: $wh;
  border: none;
}

a:hover {
  text-decoration: none;
}
