$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

/*Color Palette*/
$wh: #FFFFFF;

body {
  box-sizing: border-box;
  background-color: gray;
}

.subscribe {
  text-decoration: none;
  text-transform: uppercase;
  color: $wh;
}
